.editblog_root_div {
  width: 100%;
  margin-top: 30px;
}

.editblog_image {
  width: 100%;
  height: 450px;
  border-radius: 10px;
}

.editblog_photo_icon {
  font-size: 30px !important;
  color: coral !important;
}

.editblog_save_button {
  font-size: 16px !important;
  margin-top: 15px !important;
  margin-bottom: 20px !important;
  text-transform: capitalize !important;
  background-color: #0b8507 !important;
}

.editblog_cancel_button {
  font-size: 16px !important;
  margin-top: 15px !important;
  margin-bottom: 20px !important;
  text-transform: capitalize !important;
  background-color: #e30552 !important;
}

.editblog_close_icon {
  color: #e30552 !important;
  font-size: 35px !important;
  cursor: pointer;
}
